<div class="ui stackable  padded equal height grid center aligned ">
  <div class="ui stackable equal height grid center aligned">
    <div class="one wide  column"></div>
    <div class="sixteen wide column">

      <div class="ui middle center aligned grid sixteen wide mobile sixteen wide tablet sixteen wide computer stackable">

        <div class="six wide column ">

          <h2 class="ui blue image header segment stacked secondary ">
            <div class="content">
              Bem vindo ao ISaúdeRadar
            </div>
          </h2>

          <div class="ui card stacked segment">
            <div class="content">
              <div class="header">O que é ISaúdeRadar?</div>
              <div class="description ui left aligned ">

                <p>É um sistema de análise do resultado das combinações dos indicadores para o levantamento da produtividade
                  e efetividade do Sistemas de Saúde.</p>

                <!-- Botão de logar -->
              </div>
              <button [routerLink]="['/login']" class="ui blue submit button">
                Tela de login
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="one wide column"></div>
  </div>
</div>